.flights-management-container {
    text-align: center;
    padding: 50px;
    background-color: #f0f2f5;
    min-height: calc(100vh - 90px); /* Keeps full viewport height */
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
}

.flights-management-container h1 {
    font-size: 2.5rem;
    margin-bottom: 90px; /* Adjust this value to reduce spacing as needed */
    color: #1e1e2f;
}

.flights-cards-container {
    display: flex;
    justify-content: center;
    gap: 60px; /* Space between cards */
    flex-wrap: wrap;
}

.card {
    flex: 1 1 calc(30% - 20px); /* Adjust card width */
    margin: 10px;
    padding: 20px; /* Add padding for better content spacing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white; /* White background for cards */
    transition: transform 0.2s;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 1.5rem;
    color: #1e1e2f; /* Card title color */
}
